@font-face {
  font-family: "iconfont"; /* Project id 4641590 */
  src: url('./iconfont.woff2?t=1754297523212') format('woff2'),
       url('./iconfont.woff?t=1754297523212') format('woff'),
       url('./iconfont.ttf?t=1754297523212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-icon-diandangxing:before {
  content: "\e933";
}

.ali-icon-xiaodai-:before {
  content: "\e7c4";
}

.ali-icon-amc:before {
  content: "\e715";
}

.ali-icon-diandanghang:before {
  content: "\e69d";
}

.ali-icon-declare-1:before {
  content: "\e711";
}

.ali-icon-Gongjiaojinggai-:before {
  content: "\e809";
}

.ali-icon-nongjiale:before {
  content: "\e601";
}

.ali-icon-guquanchuzhi:before {
  content: "\e60c";
}

.ali-icon-danbaofenxi:before {
  content: "\e69e";
}

.ali-icon-ziguanhegetouzizhe:before {
  content: "\e643";
}

.ali-icon-baoli:before {
  content: "\e621";
}

.ali-icon-zhiwu:before {
  content: "\e600";
}

.ali-icon-qiyejibenxinxi:before {
  content: "\e628";
}

.ali-icon-zhuce:before {
  content: "\e61c";
}

.ali-icon-zaixianyonhu:before {
  content: "\e698";
}

.ali-icon-bumen:before {
  content: "\e6ae";
}

.ali-icon-wode:before {
  content: "\e638";
}

.ali-icon-applications:before {
  content: "\e60a";
}

.ali-icon-jigou:before {
  content: "\e61a";
}

.ali-icon-heimingdan:before {
  content: "\e631";
}

.ali-icon-institute:before {
  content: "\e660";
}

.ali-icon-xiangzi:before {
  content: "\e646";
}

.ali-icon-shouye:before {
  content: "\e602";
}

.ali-icon-jiaose:before {
  content: "\e651";
}

.ali-icon-zhucewangzhan:before {
  content: "\e66a";
}

.ali-icon-icon-test:before {
  content: "\e613";
}

.ali-icon-home:before {
  content: "\e616";
}

.ali-icon-diqu:before {
  content: "\e606";
}

.ali-icon-zhiwei:before {
  content: "\e607";
}

.ali-icon-jiaose1:before {
  content: "\e830";
}

.ali-icon-jiaoseguanli:before {
  content: "\e60f";
}

.ali-icon-RectangleCopy:before {
  content: "\e6bf";
}

.ali-icon-jiaoseguanli1:before {
  content: "\e665";
}

.ali-icon-jiaoseleixing:before {
  content: "\e666";
}

.ali-icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e614";
}

.ali-icon-zhiwu1:before {
  content: "\e699";
}

.ali-icon-basesettingposition:before {
  content: "\e622";
}

.ali-icon-021xiangzi:before {
  content: "\e7dd";
}

.ali-icon-qudaoguanli:before {
  content: "\e605";
}

.ali-icon-shezhi:before {
  content: "\e60b";
}

.ali-icon-qiye_gongsi_danweijibenxinxi:before {
  content: "\e790";
}

.ali-icon-quanxian:before {
  content: "\e791";
}

.ali-icon-shebei:before {
  content: "\e792";
}

.ali-icon-xitongbeifen:before {
  content: "\e603";
}

.ali-icon-hangye:before {
  content: "\e617";
}

.ali-icon-box2xiangzi:before {
  content: "\e731";
}

.ali-icon-wushuju:before {
  content: "\e642";
}

.ali-icon-dakaidexiangzi:before {
  content: "\e718";
}

.ali-icon-xiangzidakai:before {
  content: "\e610";
}

.ali-icon-checkbox-minus:before {
  content: "\ea6d";
}

.ali-icon-checkbox-plus:before {
  content: "\ea6e";
}

.ali-icon-quanping:before {
  content: "\e8fa";
}

.ali-icon-quanping1:before {
  content: "\ec13";
}

.ali-icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.ali-icon-quanping_o:before {
  content: "\eb99";
}

.ali-icon-quanping2:before {
  content: "\e62a";
}

.ali-icon-cancel-full-screen:before {
  content: "\e69a";
}

.ali-icon-switch:before {
  content: "\e746";
}

.ali-icon-danxuankuang-copy:before {
  content: "\e608";
}

.ali-icon-shijian:before {
  content: "\e667";
}

.ali-icon-shuxing:before {
  content: "\e69b";
}

.ali-icon-touxiang:before {
  content: "\e60d";
}

.ali-icon-biaodanzujian-shurukuang:before {
  content: "\eb94";
}

.ali-icon-biaodanzujian-xialakuang:before {
  content: "\eb95";
}

.ali-icon-biaodanzujian-anniu:before {
  content: "\eb96";
}

.ali-icon-switch1:before {
  content: "\e87d";
}

.ali-icon-yunduanshangchuan:before {
  content: "\ec1d";
}

.ali-icon-xiaolian:before {
  content: "\ec80";
}

.ali-icon-shijian1:before {
  content: "\e604";
}

.ali-icon-24gl-calendar:before {
  content: "\eb3f";
}

.ali-icon-shijian2:before {
  content: "\e65b";
}

.ali-icon-biaodanzujian-biaoge:before {
  content: "\e60e";
}

.ali-icon-dizhixuanze:before {
  content: "\e615";
}

.ali-icon-riqixuanze:before {
  content: "\e618";
}

.ali-icon-jiliandongxuanzeqi:before {
  content: "\e619";
}

.ali-icon-shuzhuangjiegou:before {
  content: "\e61b";
}

.ali-icon-wujiliandongdizhi:before {
  content: "\e61d";
}

.ali-icon-xialaxuanze:before {
  content: "\e61e";
}

.ali-icon-zhankaibiaodan:before {
  content: "\e61f";
}

.ali-icon-zidongbuquanshurukuang:before {
  content: "\e620";
}

.ali-icon-fuwenben:before {
  content: "\e706";
}

.ali-icon-checkbox-ok:before {
  content: "\ea68";
}

.ali-icon-bumenxuanze:before {
  content: "\e63e";
}

.ali-icon-shuzi:before {
  content: "\e640";
}

.ali-icon-fujian:before {
  content: "\e63f";
}

.ali-icon-zujian:before {
  content: "\e648";
}

.ali-icon-duohangshuru:before {
  content: "\e64a";
}

.ali-icon--zujian:before {
  content: "\e609";
}

.ali-icon-zujian1:before {
  content: "\e652";
}

.ali-icon-riqi:before {
  content: "\e611";
}

.ali-icon-yanse:before {
  content: "\e69c";
}

.ali-icon-daoru_o:before {
  content: "\eb49";
}

.ali-icon-flowChart:before {
  content: "\e641";
}

.ali-icon-itubiao:before {
  content: "\e624";
}

.ali-icon-install1:before {
  content: "\e697";
}

.ali-icon-dbhy_def:before {
  content: "\e672";
}

.ali-icon-dbhy_pre:before {
  content: "\e694";
}

.ali-icon-blhy_pre:before {
  content: "\e671";
}

.ali-icon-blhy_def:before {
  content: "\e670";
}

.ali-icon-a-arrowup:before {
  content: "\e695";
}

.ali-icon-a-arrowdown:before {
  content: "\e66f";
}

.ali-icon-install:before {
  content: "\e696";
}

.ali-icon-a-moreexpand:before {
  content: "\e68f";
}

.ali-icon-index:before {
  content: "\e676";
}

.ali-icon-icon_more:before {
  content: "\e675";
}

.ali-icon-home_pre:before {
  content: "\e673";
}

.ali-icon-icon_explain:before {
  content: "\e674";
}

.ali-icon-ddhy_def:before {
  content: "\e690";
}

.ali-icon-home_def:before {
  content: "\e691";
}

.ali-icon-ddhy_pre:before {
  content: "\e692";
}

.ali-icon-dbsx:before {
  content: "\e693";
}

.ali-icon-xdhy_pre:before {
  content: "\e67f";
}

.ali-icon-xdhy_def:before {
  content: "\e684";
}

.ali-icon-warning:before {
  content: "\e67e";
}

.ali-icon-tj:before {
  content: "\e685";
}

.ali-icon-sjsh_pre:before {
  content: "\e67d";
}

.ali-icon-sjsh_def:before {
  content: "\e686";
}

.ali-icon-sjgl_pre:before {
  content: "\e67c";
}

.ali-icon-sjgl_def:before {
  content: "\e687";
}

.ali-icon-sjdj_pre:before {
  content: "\e67b";
}

.ali-icon-sjdj_def:before {
  content: "\e688";
}

.ali-icon-sjcx_pre:before {
  content: "\e67a";
}

.ali-icon-sjcx_def:before {
  content: "\e689";
}

.ali-icon-sjbs_pre:before {
  content: "\e68a";
}

.ali-icon-sjbs_def:before {
  content: "\e679";
}

.ali-icon-report_pre:before {
  content: "\e678";
}

.ali-icon-remind:before {
  content: "\e677";
}

.ali-icon-report_def:before {
  content: "\e68b";
}

.ali-icon-khxx_pre:before {
  content: "\e68c";
}

.ali-icon-khxx_def:before {
  content: "\e68d";
}

.ali-icon-a-moreretract:before {
  content: "\e68e";
}

.ali-icon-zlhy_pre:before {
  content: "\e682";
}

.ali-icon-xxgl_pre:before {
  content: "\e681";
}

.ali-icon-zlhy_def:before {
  content: "\e680";
}

.ali-icon-xxgl_def:before {
  content: "\e683";
}

