@use "mixins/mixins" as *;

@include b(input-year-range) {
  @include e(start) {
    width: inherit;
    .el-input__wrapper {
      box-shadow: none !important;
      &:hover {
        box-shadow: none !important;
      }
    }
  }

  @include e(end) {
    width: inherit;
    .el-input__wrapper {
      box-shadow: none !important;
      &:hover {
        box-shadow: none !important;

      }
    }
  }
}
