.el-collapse-item.syb-style-mode.panel-mode-item {
  .el-collapse-item__header {
    &.is-active {
      .active-icon {
        transform: rotate(90deg) !important;
      }
    }

    .collapse-item-title {
      .label {
        position: relative;
        flex: 1;
        padding-right: 10px;

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: #F4F8FA;
        }
      }

      .active-icon {
        font-size: 22px;
        transition: transform 0.3s;
        transform: rotate(0);
        margin: 0;
      }

      .label__text {
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        color: #7791C2;
        letter-spacing: 0;
        font-weight: 600;
        margin-left: 2px;
        flex: none;
        margin-right: 10px;
      }


      .g-button-group,
      .right-oper__slot__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}